# Install this with './tools/install-systemd-service' script

[Unit]
Description=Rag App

[Service]
User=root
WorkingDirectory=/var/rag_app/
ExecStart=/bin/bash -c "source /var/rag_app/venv/bin/activate && flask --app rag/app run"


[Install]
WantedBy=multi-user.target

